body.thetree-dark-mode .Liberty,
body.thetree-dark-mode {
	background-color: #222;
	color-scheme: dark;
	color: #ddd;
}

.thetree-dark-mode pre {
    background-color: #2d2f34;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header {
	background-color: #222;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header .title > h1 {
	color: #ddd;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-main {
	background-color: #222;
	color: #ddd;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-footer {
	background-color: #222;
	color: #ddd;
}

.thetree-dark-mode .Liberty .nav-wrapper {
	background-color: #2d2f34;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header,
.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-main,
.thetree-dark-mode .Liberty .content-wrapper .liberty-footer {
	border-color: #777;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item,
.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-content .live-recent-list li,
.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-footer,
.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-content {
	border-color: #777;
}

.thetree-dark-mode .btn.btn-secondary.tools-btn {
	background: #222;
	color: #ddd;
}

.thetree-dark-mode button.btn.btn-secondary.tools-btn.dropdown-toggle {
	background: #222;
	color: #ddd;
}

.thetree-dark-mode .dropdown-menu.dropdown-menu-right {
	background: #16171A;
}

.thetree-dark-mode .Liberty .nav-wrapper .navbar .navbar-login .login-dropdown-menu .username,
.thetree-dark-mode .Liberty .nav-wrapper .navbar .navbar-login .login-dropdown-menu .username:hover {
	color: #ddd;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header .title .namespace {
    color: #c7c7c7;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header .title>h1>a {
    color: white;
}

.thetree-dark-mode a.dropdown-item {
	color: #ddd;
}

.thetree-dark-mode .dropdown-menu .dropdown-item:focus,
.thetree-dark-mode .dropdown-menu .dropdown-item:hover {
	background-color: #383b40;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link.active,
.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:active,
.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:focus,
.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:hover {
	background: #222;
	color: #ddd;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link.active::before {
	border-color: #e1e8ed;
}

.thetree-dark-mode ul#live-recent-list {
	background-color: #222;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-footer {
	background-color: #222;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-footer .label {
	background-color: #2d2f34;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-footer .label:hover {
	background-color: #383b40;
}

.thetree-dark-mode .Liberty .content-wrapper .footer-recent .live-recent-footer {
	background-color: #222;
}

.thetree-dark-mode .dropdown-menu {
	background-color: #16171A;
}

.thetree-dark-mode a {
	color: #E69720;
}

.thetree-dark-mode a:hover {
	color: #b3771d;
}

.thetree-dark-mode .Liberty .nav-wrapper .navbar .form-inline .form-control {
	background-color: #222;
	color: #ddd;
}

.thetree-dark-mode .Liberty .nav-wrapper .navbar .form-inline .form-control::placeholder {
	color: #ddd;
}

.thetree-dark-mode .Liberty .nav-wrapper .navbar .form-inline .btn {
	background-color: #222;
	color: #ddd;
}

.thetree-dark-mode .Liberty .nav-wrapper .navbar .form-inline .btn:focus,
.thetree-dark-mode .Liberty .nav-wrapper .navbar .form-inline .btn:hover {
	background-color: #383b40;
	border-color: #ddd;
}

.thetree-dark-mode div#bottom a {
	color: #E69720;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-content .live-recent-list .recent-item {
	color: #ddd;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item {
	border-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-content {
    border-color: #505050;
}

.thetree-dark-mode .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-content .live-recent-list li {
    border-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-footer {
	border-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header {
    border-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-main {
    border-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .footer-recent {
	border-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .footer-recent .live-recent-footer {
	border-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-footer {
    border-color: #505050;
}

.thetree-dark-mode .dropdown-menu {
	border-color: #505050;
}

.thetree-dark-mode .dropdown-divider {
    border-color: #505050;
}

.thetree-dark-mode pre {
    border-color: #505050;
}

.thetree-dark-mode textarea {
    border-color: #505050;
}

.thetree-dark-mode hr {
    border-color: #505050;
}

.thetree-dark-mode .Liberty .nav-wrapper .navbar .form-inline .form-control {
    border-color: #505050;
}


.thetree-dark-mode .Liberty .nav-wrapper .navbar .form-inline .form-control:focus {
    border-right-color: #505050;
}

.thetree-dark-mode .Liberty .nav-wrapper .navbar .navbar-login .profile-img {
    border-color: #505050;
}

.Liberty .nav-wrapper .navbar .navbar-login .login-dropdown-menu:before {
    border-bottom-color: #505050;
}

.thetree-dark-mode .Liberty .nav-wrapper .navbar .navbar-login .login-dropdown-menu:after {
    border-bottom-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item {
    border-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-content {
    border-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-content .live-recent-list li {
    border-bottom-color: #505050;
}
.thetree-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-footer {
    border-color: #505050;
}
.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header {
    border-color: #505050;
}
.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-main {
    border-left-color: #505050;
	border-right-color: #505050;
}
.thetree-dark-mode .Liberty .content-wrapper .footer-recent {
    border-color: #505050;
}
.thetree-dark-mode .Liberty .content-wrapper .footer-recent .live-recent-footer {
	border-color: #505050;
}
.thetree-dark-mode .Liberty .content-wrapper .liberty-footer {
    border-color: #505050;
}
.thetree-dark-mode .dropdown-menu {
    border-color: #505050;
}
.thetree-dark-mode .dropdown-divider {
	border-color: #505050;
}

.thetree-dark-mode .btn-secondary {
	border-color: #505050;
}

.thetree-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header .content-tools {
	border-top-color: #505050;
}

.thetree-dark-mode .category-list {
    border-color: #505050;
}

.thetree-dark-mode .wiki-content .wiki-macro-toc {
	border-color: #505050;
}

.thetree-dark-mode .wiki-content h1.wiki-heading,.wiki-content h2.wiki-heading,.wiki-content h3.wiki-heading,.wiki-content h4.wiki-heading,.wiki-content h5.wiki-heading,.wiki-content h6.wiki-heading {
	border-color: #505050;
}