<div id="recent">
    <div class="live-recent-content" x-data="recent">
        <ul class="live-recent-list" id="live-recent-list">
            <div x-show="recent.length === 0">
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
            </div>
            <div x-show="recent.length > 0">
                <template x-for="(r,i) in recent.slice(0, <%=typeof limit === 'undefined' ? 15 : limit%>)" :key="i">
                    <li>
                        <a class="recent-item" :class="{ 'removed': r.status === 'delete' }" :key="r.document" :href="doc_action_link(r.document, 'w')">
                            [<time :datetime="new Date(r.date * 1000).toISOString()" x-text="getDateStr(r.date)"></time>] <span x-text="r.document"></span>
                        </a>
                    </li>
                </template>
            </div>
        </ul>
    </div>
</div>